<section class="searchbox">
  <!--   Dropdown   -->
  <div class="searchbox__dropdown">
    <div class="searchbox__dropdown--current-option">
      {{ searchBy }}
    </div>
    <i
      (click)="toggleSearchOptions()"
      class="searchbox__dropdown--select fa fa-caret-down"
      aria-hidden="true"
    ></i>
    <ul
      class="searchbox-dropdown--options"
      [class.not-active]="viewSearchOptions"
    >
      <li
        (click)="onSearchByChange($event); term.value = ''"
        class="searchbox-dropdown--option"
      >
        title
      </li>
      <li
        (click)="onSearchByChange($event); term.value = ''"
        class="searchbox-dropdown--option"
      >
        author
      </li>
    </ul>
  </div>
  <!--   search field   -->
  <div class="searchbox__search-field">
    <label for="search-field">Search</label>
    <input
      (input)="onSearchTermChange(term.value)"
      #term
      id="search-field"
      type="text"
      placeholder="search"
      onfocus="if(this.placeholder == 'search') { this.placholder = ''; }"
    />
    <i
      class="searchbox__search-field--search fa fa-search"
      aria-hidden="true"
    ></i>
  </div>
</section>
