.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: 0.3s;
  flex-grow: 1;
  // border: 5px solid #000;
  // height: 100%;
  width: 230px;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.5em;

  :hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card__img {
    opacity: 1;
    max-height: 300px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
  }

  .card--hover {
    position: absolute;
    top: 50%;
  }

  .card__info {
    padding: 0 16px 10px 16px;
    text-align: center;
    width: 10rem;
    margin: 0 auto;

    .card__link {
      padding: 0.4em 0.5em;
      border: none;
      background: none;
      font-size: 0.7em;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        color: rgba(0, 38, 255, 0.527);
        transform: scale(1.1);
      }
    }

    .line__short {
      width: 20%;
    }

    .card__info__header {
      text-transform: capitalize;
      font-size: 1.3em;
      // margin: 0 auto;
    }
  }
}
