<div class="card">
  <img class="card__img" src="{{ book.imageUrl }}" alt="avatar" />
  <div class="card--hover"></div>
  <div class="card__info">
    <!-- View details button -->
    <button
      (click)="buttonClicked(book.id, view.value)"
      class="card__link"
      value="view"
      #view
    >
      View details
    </button>

    <!-- Edit card button -->
    <button
      (click)="buttonClicked(book.id, edit.value)"
      class="card__link"
      value="edit"
      #edit
    >
      Edit Details
    </button>
    <h4 class="card__info__header">{{ book.title }}</h4>
    <p class="card__info__details">{{ book.author }}</p>
  </div>
</div>
