<header class="header">
  <h1 class="header__text">Good Books</h1>
  <button [routerLink]="['/books', 'new']" class="header__add-book">
    Add Book
  </button>
  <app-book-search
    class="header__searchbox"
    (searchTerm)="onSearchTermChange($event)"
    (searchByOption)="onSearchByOptionChange($event)"
  ></app-book-search>
</header>

<div class="book-list">
  <app-book-card
    *ngFor="let book of books$ | async"
    [book]="book"
    (buttonAction)="onButtonClicked($event)"
  ></app-book-card>
</div>
